body, h1, h2, h3, h4, h5, h6 {
  font-family: "Karma", sans-serif;
}

.w3-sidenav a {
  padding:20px;
}

.side-nav {
  display:none;
  z-index:2;
  width:40%;
  min-width:300px;
}

.top-bar {
  max-width:1200px;
  margin:auto;
}

.container {
  max-width: 1200px !important;
  margin-top: 100px !important;
}

.w3-quarter {
  float: none !important;
  display: inline-block !important;
  vertical-align: top;
}


.w3-quarter img {
  width:100%
}

.w3-threequarter img {
  width:100%
}

.w3-tag {
  margin-right: 2px;
}

.ingredients {
  padding-right: 16px;
}

.receipe-steps {
  margin-top: 25px !important;
}
